-- CreateTable
CREATE TABLE "Actor" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "profile_path" TEXT,
    "department" TEXT,
    "bio" TEXT,
    "birthday" DATE,
    "place_of_birth" TEXT,
    "gender" INTEGER,

    CONSTRAINT "Actor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CompanyMovie" (
    "id" SERIAL NOT NULL,
    "movieId" INTEGER,
    "companyId" INTEGER,

    CONSTRAINT "CompanyMovie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Genre" (
    "id" SERIAL NOT NULL,
    "name" TEXT,

    CONSTRAINT "Genre_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GenreMovie" (
    "id" SERIAL NOT NULL,
    "genreId" INTEGER,
    "movieId" INTEGER,

    CONSTRAINT "GenreMovie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Image" (
    "id" SERIAL NOT NULL,
    "path" TEXT,
    "type" TEXT,
    "movieId" INTEGER,

    CONSTRAINT "Image_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Movie" (
    "id" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "adult" BOOLEAN DEFAULT false,
    "backdrop_path" TEXT,
    "budget" INTEGER,
    "homepage" TEXT,
    "original_language" TEXT,
    "original_title" TEXT,
    "origin_country" TEXT,
    "overview" TEXT,
    "popularity" DOUBLE PRECISION,
    "poster_path" TEXT,
    "release_date" TIMESTAMP(3),
    "status" TEXT,
    "runtime" INTEGER,
    "revenue" INTEGER,
    "type" TEXT DEFAULT 'movie',
    "vote_average" DOUBLE PRECISION DEFAULT 0,
    "video" TEXT,
    "revenue_last_update" DATE,
    "episodes" INTEGER,

    CONSTRAINT "Movie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MovieActor" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "movieId" INTEGER NOT NULL,
    "actorId" INTEGER NOT NULL,
    "order" INTEGER DEFAULT 0,

    CONSTRAINT "MovieActor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Platform" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "poster_path" TEXT,

    CONSTRAINT "Platforms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionCompany" (
    "id" SERIAL NOT NULL,
    "poster_path" TEXT,
    "name" TEXT,
    "origin_country" TEXT,

    CONSTRAINT "ProductionCompany_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProviderMovie" (
    "id" SERIAL NOT NULL,
    "movieId" INTEGER,
    "providerId" INTEGER,

    CONSTRAINT "ProviderMovie_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "MovieActor_movieId_actorId_name_key" ON "MovieActor"("movieId", "actorId", "name");

-- AddForeignKey
ALTER TABLE "CompanyMovie" ADD CONSTRAINT "fk_company" FOREIGN KEY ("companyId") REFERENCES "ProductionCompany"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CompanyMovie" ADD CONSTRAINT "fk_movie" FOREIGN KEY ("movieId") REFERENCES "Movie"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GenreMovie" ADD CONSTRAINT "fk_genre" FOREIGN KEY ("genreId") REFERENCES "Genre"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GenreMovie" ADD CONSTRAINT "fk_movie" FOREIGN KEY ("movieId") REFERENCES "Movie"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Image" ADD CONSTRAINT "fk_movie" FOREIGN KEY ("movieId") REFERENCES "Movie"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "MovieActor" ADD CONSTRAINT "fk_actor" FOREIGN KEY ("actorId") REFERENCES "Actor"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "MovieActor" ADD CONSTRAINT "fk_movie" FOREIGN KEY ("movieId") REFERENCES "Movie"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ProviderMovie" ADD CONSTRAINT "fk_movie" FOREIGN KEY ("movieId") REFERENCES "Movie"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ProviderMovie" ADD CONSTRAINT "fk_provider" FOREIGN KEY ("providerId") REFERENCES "Platform"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

