@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-number: var(--font-orbitron);


  --color-background: #0E0E10;
  --color-soft-background: #1A1A1D;
  --color-surface-background: #222228;
  --color-border: #2E2E35;
  --color-primary: #E50914;
  --color-primary-hover: #BF0811;
  --color-secondary: #FFCC00;
  --color-link: #5FA9FF;
  --color-text: #F0F0F5;
  --color-soft-text: #AAAAAA;
  --color-muted-text: #777777;
  --color-success: #2ECC71;
  --color-error: #E74C3C;
}

@layer base {
  * {
    @apply transition-all selection:text-black selection:bg-secondary
  }
}

@layer utilities {
  .arabic-fix {
    font-feature-settings: "liga", "calt", "kern";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    direction: rtl;
  }
}

input:placeholder-shown: {
  text-align: end !important;
}
